* text=auto
* text eol=lf

*.png binary
*.jpg binary

# Exclude from Composer/npm dist tarballs and GitHub archive downloads
/test export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/tsconfig.json export-ignore
